*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden 
{
    display: none !important; 
}

nav a.active
{
    color: red;
    cursor: default;
}

body
{
    background-color: #333;
}

header
{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    min-height: 100px;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(28, 28, 31);
    min-height: 4rem;
    height: 5vh;
    margin-top: 15px;
}

nav
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 10rem;
    color: white;
}

nav a
{
    text-decoration: none;
    color: white; 
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

nav a:not(.active):hover
{
    color: rgb(138, 25, 5);
}


.team-standings, .driver-standings
{
    max-width: 800px;
    margin: 0 auto;
    width: 75%;
}


.team_card, .driver_card
{
    margin: 0 15px 10px 15px;
    color: white;
    border-radius: 20px;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    min-height: 6rem;
}  

.team_card p, .driver_card p
{
    font-size: 2rem;
}

.team_name
{
    padding-left: 1rem;
}

.team_points
{
   padding-right: 2rem;
}



.points_and_photo_flexbox
{
    display: flex;
    align-items: center;
}

.driver_name
{
    padding-left: 1rem;
}

.driver_image_div
{
    margin-right: 15px;
}

.driver_image_div img
{
    max-height: 4.5rem;
    width: auto;
    object-fit: contain;
}